<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liaoin.diving.mapper.BadgeUserMapper">

    <select id="findAll" resultType="com.liaoin.diving.entity.BadgeUser" >
        select * from t_badge_user
    </select>
</mapper>