<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liaoin.diving.mapper.BannerMapper">
    <update id="updateBanner">
        update t_banner set is_hidden = #{hiddenId} where id = #{id}
    </update>
    <select id="findActivityId" resultType="java.lang.Integer">
        select activity_id from t_banner where  activity_id is not null order by create_time desc
    </select>
    <select id="findContentId" resultType="java.lang.Integer">
        select content_id from t_banner where content_id is not null order by create_time desc
    </select>
    <select id="findBannerById" resultType="com.liaoin.diving.entity.Banner">
        select * from t_banner where id = #{id}
    </select>
    <select id="findToActivity" resultType="com.liaoin.diving.view.BannerView">
    select banner.id, banner.create_time,banner.title,banner.is_hidden,ac.id activity_id,ac.`name` from t_banner banner, (
    	select * from t_activity activ where id in (
	    	select ban.activity_id  from t_banner ban where activity_id is not null  order by create_time desc
	    )
      ) ac
      where banner.activity_id = ac.id
    </select>
    <select id="findAllBanner" resultType="com.liaoin.diving.view.BannerView">
    select *
        from
          (
    select banner.id ,con.id as content_id,null as 'activity_id',img.url as url,banner.create_time,banner.title,banner.type,banner.is_hidden  from t_content con
    join t_banner banner	on banner.content_id = con.id
    join m_content_image cim	on cim.content_id = con.id
    join t_image img	on  cim.image_id = img.id
    where  con.is_delete = 0	and con.type = 2
    GROUP BY con.id
		UNION
    SELECT banner.id,null,act.id as activity_id,act.img_url as url,banner.create_time,banner.title,banner.type,banner.is_hidden from t_activity act
	JOIN t_banner banner on banner.activity_id = act.id
	where act.is_delete = 0
    )df
    order by df.create_time desc
    </select>
    <select id="condition" resultType="com.liaoin.diving.view.BannerView">

    select *
        from
          (
    select banner.id ,con.id as content_id,null as 'activity_id',img.url as url,banner.create_time,banner.title,banner.type,banner.is_hidden  from t_content con
    join t_banner banner	on banner.content_id = con.id
    join m_content_image cim	on cim.content_id = con.id
    join t_image img	on  cim.image_id = img.id
    where  con.is_delete = 0	and con.type = 2
    GROUP BY con.id
		UNION
    SELECT banner.id,null,act.id as activity_id,act.img_url as url,banner.create_time,banner.title,banner.type,banner.is_hidden from t_activity act
	JOIN t_banner banner on banner.activity_id = act.id
	where act.is_delete = 0
    )df
    <where>
        <if test="title != null">
            `title` like concat('%',#{title},'%')
        </if>
        <if test="isHidden != null">
            and `is_hidden` like concat('%',#{isHidden},'%')
        </if>
        <if test="type != null">
            and `type` like concat('%',#{type},'%')
        </if>
    </where>
    order by df.create_time desc

    </select>
</mapper>