<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liaoin.diving.mapper.ContentMapper">

    <select id="findContentByThemeId" resultType="com.liaoin.diving.entity.Content">
      select * from t_content con
        join t_theme the
        on con.theme = the.id
        where the.id = #{id}
        and con.is_delete = 0
        order by  con.create_time desc
    </select>

    <select id="queryColumnConten" resultType="com.liaoin.diving.entity.Content">
   select con.* from t_content con
     join t_topic top
     on con.topic_id = top.id
     where con.topic_id = #{id}
     and con.is_delete = 0
     and top.is_delete = 0
     and con.type = 2
     order by con.create_time desc

    </select>
    <select id="findAllBanner" resultType="com.liaoin.diving.entity.Content" >
      select * from t_content con
      join t_banner banner
      on banner.content_id = con.id
      where  con.is_delete = 0
      and con.type = 2
      order by banner.create_time desc
    </select>
    <select id="findAllBannerView" resultType="com.liaoin.diving.view.BannerView">
    select banner.id ,con.id as content_id,img.url,banner.create_time,banner.title  from t_content con
    join t_banner banner
    on banner.content_id = con.id
    join m_content_image cim
    on cim.content_id = con.id
    join t_image img
    on  cim.image_id = img.id
    where  con.is_delete = 0
    and con.type = 2
    GROUP BY con.id
    order by banner.create_time desc

    </select>
    <select id="findFocusConten" resultType="com.liaoin.diving.entity.Content">
        select * form t_content where id  in
        <foreach collection="list"  item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
    <select id="findUpNum" resultType="java.lang.Integer">
        select count(1) from t_content where user_id = #{id} and is_delete = 0
    </select>

    <select id="findUserUp" resultType="com.liaoin.diving.entity.Content">
        select * from  t_content where user_id = #{id} and is_delete = 0 order by create_time desc
    </select>
    <select id="findCommentNum" resultType="java.lang.Integer">
        select count(1)
        from t_discussion
        where content_id = #{id} and is_delete = 0
    </select>

</mapper>