<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liaoin.diving.mapper.GroupMapper">

    <select id="mobileFindOne" resultType="com.liaoin.diving.entity.Group">
        select `group`.*,
         (
          select rank
            from
            (
            SELECT a.id, a.name, @curRank := @curRank + 1 AS rank
            FROM t_group a, (
            SELECT @curRank := 0
            ) q
            ORDER BY `fans_num` desc
            ) a
            where id = #{id}
        ) as `order`,image.url as img_url
        from t_group `group`
          left join `t_image` image on image.id = `group`.image_id
        where `group`.id = #{id}
    </select>
    <select id="mobileFindList" resultType="com.liaoin.diving.view.ContentView">
      SELECT c.*,
        (SELECT i.url from t_image i left join m_content_image ci on ci.image_id = i.id
            where ci.content_id = c.id  limit 1) as imgUrl
      FROM t_content c
        LEFT JOIN t_content_group cg on c.id = cg.content_id
        where cg.group_id = #{id}
    </select>
    <select id="findAll" resultType="com.liaoin.diving.entity.Group">
        select * from t_group
    </select>
</mapper>