<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liaoin.diving.mapper.ImageMapper">
    <select id="findImageByGoodsId" resultType="com.liaoin.diving.entity.Image">
        SELECT *
        FROM t_image i
        JOIN t_goods g
        JOIN m_goods_image gi ON i.id=gi.image_id AND g.id=gi.goods_id
        WHERE g.id=#{goodsId}
    </select>
</mapper>