<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liaoin.diving.mapper.OfficialMapper">

    <insert id="insert"  useGeneratedKeys="true" keyProperty="id" parameterType="com.liaoin.diving.entity.Official">
        insert into t_official(dis_count,like_count,read_count,user_id,create_time,pager,discribe,title,text,pager_img)
        VALUES(#{disCount},#{likeCount},#{readCount},#{userId},#{createTime},#{pager},#{discribe},#{title},#{text},#{pagerImg})
    </insert>
    <insert id="insertRelation" parameterType="Map">
        insert into m_content_image(content_id,image_id) VALUES
        <foreach collection="ids" item="imageId"  separator="," >
            (#{id},#{imageId})
        </foreach>
    </insert>
    <select id="findAll" resultType="com.liaoin.diving.entity.Official">
        select * from t_official order by create_time desc
    </select>
    <delete id="del">
        delete  from t_official where id = #{id}
    </delete>
</mapper>